<h1>Add Snippet</h1>
<%= form_for @snippet do |f| %>

    <%= render 'shared/error_messages' %>

    <%= f.label :title %>
    <%= f.text_field :title, :class => 'form-control' %>

    <%= f.label :description %>
    <%= f.text_area :description, :class => 'form-control' %>

    <%= f.label :language %>
    <%= f.select :language, options_for_select(['HTML','Javascript','PHP','Python','Ruby']), {}, {:class => 'form-control'} %>

    <%= f.label :code %>
    <%= f.text_area :code, :class => 'form-control' %>

    <%= f.label "Mark this snippet as private?", :class => 'private-label' %>
    <%= f.check_box :private, :class => 'checkbox private' %>

    <%= f.submit "Add Snippet", class: "btn btn-large btn-primary" %>

<% end %>